# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Misc.
*.ncb
*.suo
*.user

# Intermediates and built files
Build/
win32-release/
win32-debug/